// header
$my_header : #f5fcf9; // light white 
$my_border : #e1e1e1; // color for border
$menu_green: #6db18e; // menu bg
$bg_green : #7ec19e; // main bg 
$red_button: #f66060; // red button 
// solve trouble 
$main_title :#333333; // h2 color 
$light_white: #e8fffe;  //light grey 
$dark: #020202; // title`s
// trial 
$cream_bg: #f8ffe8;  // trial bg 
// 5 squad 
$light_blue : #84d7cf; // light blue  first, third  squad
$dark_green : #6aae8b; // dark(low) green second squad 
$grey_blue : #6a8fae; // dark grey 
$my_tomato : #d7848c; // tomato
// footer
$bg_footer : #44637e; // dark blue;

//price
$my_header-second: #7e91c1; //second header  
$menu_color-s: #6b7ba6; // menu s color
//choose
$sm-bottom: #f4f9f3; //sm-bottom
$sm-bottom-f: #404040;// color 
$card-bg: #e8ece7; // bg for card
$bottom-card: #efefef; //bottom card
//question
$bg-color-blue:#809eb8; // main bg

//contact
$my_header-third: #c17e7e; //bg color
$menu_color-t:  #a97676 //menu color